 html,
        body {
            display: block;
            margin-left: auto;
            margin-right: auto;
            background-color: #eee89d;
            background: linear-gradient(to bottom right, #f8fdd0, #eee89d);
            height: 100%;
            margin: 0;
            padding: 0
        }

        body {
            background-color: #323232;
            text-align: center;
            padding-bottom: 100px;
            position: relative
        }

        .mycss {
            text-shadow: 1px 1px 1px rgba(8, 8, 8, 1);
            font-weight: bold;
            color: #dbdbdb;
            letter-spacing: 3pt;
            word-spacing: 2pt;
            font-size: 29px;
            text-align: center;
            font-family: "Trebuchet MS", sans-serif;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            line-height: 1;
            margin: 0;
            padding: 0;
            width: 40%;
            margin: 50px auto;
            padding: 20px;
            background: #323232;
            -moz-box-shadow: 0 0 20px black;
            -webkit-box-shadow: 0 0 20px black;
            box-shadow: 0 0 20px black
        }

        .logos {
            max-width: 15%;
            max-height: 15%;
            align-content: center
        }

        logos2 {
            height: 100px;
            width: 100%;
            position: fixed;
            left: 0;
            bottom: 0;
            float: bottom
        }